<!doctype html>
<html class="no-js" lang="en" dir="ltr" ng-app="pjarts">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Peter John Arts | Home</title>
        <link rel="icon" type="image/png" href="public/assets/favicon-32x32.png" sizes="32x32" />
        <link rel="stylesheet" href="public/vendor/font-awesome/css/font-awesome.min.css" />
        <link rel="stylesheet" href="public/vendor/foundation/css/foundation.min.css" />
        <link rel="stylesheet" href="public/vendor/foundation/css/normalize.min.css" />
        <link rel="stylesheet" href="public/vendor/aos/dist/aos.css" />
        <link rel="stylesheet" href="public/vendor/slick-carousel/slick/slick.css" />
        <link rel="stylesheet" href="public/css/app.css" />
        <script src="public/vendor/modernizr/modernizr.js"></script>
    </head>
    <body ng-controller="MainController as MainCtrl">
        <header id="home">
            <div class="container">
                <div class="nav-lockup">
                    <ul class="nav">
                        <li ng-repeat="m in menu.list | filter:{ position: 'left' }">
                            <div class="nav-line"><a href="{{ m.target }}" ng-bind="m.title"></a></div>
                        </li>
                        <li class="logo">
                            <a href="#home">
                                <img class="logo" src="public/assets/pj-logo.png" alt="Peter John">
                            </a>
                        </li>
                        <li ng-repeat="m in menu.list | filter:{ position: 'right' }">
                            <div class="nav-line"><a href="{{ m.target }}" ng-bind="m.title"></a></div>
                        </li>
                    </ul>
                </div>

                <div class="claim-lockup">
                    <img src="public/assets/tagline.png" alt="" class="claim">
                </div>
            </div>
            <div class="sticky-header" data-aos="fade-down" data-aos-anchor="#services">
                <a href="#home">
                    <img class="logo" src="public/assets/pj-logo.png" alt="Peter John">
                </a>
                <div class="nav-lockup">
                    <ul class="nav">
                        <li ng-repeat="m in menu.list">
                            <div class="nav-line"><a href="{{ m.target }}" ng-bind="m.title"></a></div>
                        </li>
                    </ul>
                </div>
            </div>
        </header>

        <div class="content-lockup">
            <div class="section-lockup container">
                <div class="bg-accent">
                    <img src="public/assets/splash.png" alt="">
                </div> 
                <div class="p-relative section">

                    <div class="about" id="about">
                        <h1 class="heading center green" data-aos="fade" data-aos-duration="300">peter john arts</h1>

                        <div class="floating-content">
                            <div class="float-full">
                                <div class="row">
                                    <div class="large-6 columns" data-aos="fade-right">
                                        <h4>who we are</h4>
                                        <p>Since its establishment in March 2013, Peter John Arts and Signs/Advertising has been engaged in the fabrication, supply and printing of various and quality business, tricycle, house number plates and street signs in the most part of luzon.</p>
                                        <a href="#" data-reveal-id="myModal">
                                            <i class="fa fa-plus"></i>
                                            <span>know more</span>
                                        </a>
                                    </div>
                                    <div class="large-6 columns" data-aos="fade-left">
                                        <div class="fill"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="services clearfix" id="services">
                        <h2 class="heading center" data-aos="fade" data-aos-duration="300">our services</h2>

                        <div class="floating-content">
                            <div class="float-full">
                                <div class="row">
                                    <div class="large-6 columns image-container" data-aos="flip-up">
                                        <div class="fill"></div>
                                    </div>
                                    <div class="large-6 columns desc-container green" data-aos="flip-down">
                                        <h4>Wood Etching</h4>
                                        <p></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="large-6 columns desc-container blue" data-aos="flip-up">
                                        <h4>who we are 2</h4>
                                        <p></p>
                                    </div>
                                    <div class="large-6 columns image-container" data-aos="flip-down">
                                        <div class="fill"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="large-6 columns image-container" data-aos="flip-up">
                                        <div class="fill"></div>
                                    </div>
                                    <div class="large-6 columns desc-container red" data-aos="flip-down">
                                        <h4>who we are 3</h4>
                                        <p></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="equipments p-relative" id="equipments">
                        <h2 class="heading right" data-aos="fade" data-aos-duration="300">our equipments</h2>
                        
                        <div class="floating-content clearfix" data-aos="fade-left">
                            <div class="float-right p-relative">
                                <div class="equipments-slider">
                                    <div class="slider-item" ng-repeat="item in equipments">
                                        <div class="row">
                                            <div class="large-6 columns" style="background-image: url({{ item.image }})">
                                                
                                            </div>
                                            <div class="large-6 columns">
                                                <h4>{{ item.equipment }}</h4>
                                                <p>{{ item.description }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="controls" data-aos="fade-left">
                                    <button type="button" class="equipments-prev prev"><i class="fa fa-chevron-left"></i></button>
                                    <button type="button" class="equipments-next next"><i class="fa fa-chevron-right"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="products clearfix" id="products">
                        <h2 class="heading center" data-aos="fade" data-aos-duration="300">featured products</h2>

                        <div class="content p-relative" data-aos="fade">
                            <div class="products-slider">
                                <div ng-repeat="product in products.featured" class="slider-item item p-relative" ng-style="{ 'background-image': 'url(' + product.src + ')' }">
                                    <label ng-bind="product.caption"></label>
                                    <small ng-bind="product.sub"></small>
                                </div>
                            </div>

                            <div class="controls">
                                <a href="#" class="products-prev prev"><i class="fa fa-arrow-left"></i></a>
                                <a href="#" class="products-next next"><i class="fa fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="contact" id="contact">
                        <h2 class="heading left" data-aos="fade" data-aos-duration="300">contact us</h2>

                        <div class="floating-content clearfix" data-aos="fade-right">
                            <div class="float-left">
                                <div class="row">
                                    <div class="large-6 columns">
                                        <h4>Reach out to us!</h4>
                                        <p>Got a question about Peter John Arts? Are you interested in partnering with us? Have some suggestions or just want to say hi? Contact us.</p>
                                    </div>
                                    <div class="large-6 columns">
                                        <form>
                                            <fieldset>
                                                <input type="text" name="name" placeholder="Name" autocomplete="off">
                                                <input type="text" name="email" placeholder="Email" autocomplete="off">
                                            </fieldset>
                                            <fieldset>
                                                <input type="text" name="subject" placeholder="Subject" autocomplete="off">
                                            </fieldset>
                                            <fieldset>
                                                <textarea type="text" name="message" placeholder="Message" autocomplete="off" rows="3"></textarea>
                                            </fieldset>
                                            <button>
                                                <i class="fa fa-arrow-right"></i>
                                                <span>submit</span>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <footer class="p-relative">
                        <div class="row">
                            <div class="large-7 columns">
                                <h5>branches</h5>
                                <ul><li ng-repeat="branch in branches" ng-bind="branch.location"></li></ul>
                            </div>
                            <div class="large-5 columns">
                                <h5>contacts</h5>
                                <ul><li ng-repeat="contact in contacts" ng-bind="contact.number"></li></ul>
                            </div>
                        </div>
                        <div class="divider"></div>
                        <div class="row">
                            <ul><li ng-repeat="m in menu.list"><a ng-href="{{ m.target }}" ng-bind="m.title"></a></li></ul>
                        </div>
                        <div class="social-buttons">
                            <a href="http://www.facebook.com"><img src="public/assets/social-buttons/fb.png"></a>
                            <a href="http://www.twitter.com"><img src="public/assets/social-buttons/twitter.png"></a>
                            <a href="http://plus.google.com"><img src="public/assets/social-buttons/gplus.png"></a>
                        </div>
                        <div class="row">
                            <p>Copyright &copy; 2017. All Rights Reserved.</p>
                        </div>
                    </footer>
                </div>
            </div>
        </div>

        <a href="#" class="scrollup">
            <i class="fa fa-arrow-up"></i>
        </a>
        
        <div id="myModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
            <div class="modal-border"></div>
            <div class="content-modal">
                <h2 id="modalTitle">Awesome. I have it.</h2>
                <p class="lead">Your couch.  It is mine.</p>
                <p>I'm a cool paragraph that lives inside of an even cooler modal. Wins!</p>
                <a class="close-reveal-modal" aria-label="Close">&#215;</a>
            </div>
        </div>

        <script src="public/vendor/foundation/js/vendor/jquery.js"></script>
        <script src="public/vendor/foundation/js/foundation.min.js"></script>
        <script src="public/vendor/aos/dist/aos.js"></script>
        <script src="public/vendor/slick-carousel/slick/slick.min.js"></script>
        <script src="public/vendor/angular/angular.min.js"></script>
        <script src="public/vendor/angular-resource/angular-resource.min.js"></script>
        <script src="public/js/app.jquery.js"></script>
        <script src="public/js/app.js"></script>
        <script src="public/js/controller.js"></script>
        <script src="public/js/factory.js"></script>
        <script>
            $(document).ready(function(){
                smoothScroll.init();
                AOS.init({
                    duration: 600,
                    easing: 'ease-in-cubic'
                });
                scrollToTop.init();
                slickSlider.init();
            });
        </script>
    </body>
</html>
