@mixin border-radius($radius){
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
}

@mixin bg-image($url){
	background-image: url($url);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}