@mixin border-radius($radius){
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
}

@mixin bg-image($url){
	background-image: url($url);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

@mixin bx-shadow(){
	box-shadow: 0 4px 8px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
}