$contentWidth: 1050px;

$green: #019444;
$red: #D00101;
$blue: #015393;

$font_avenir: 'Avenir';

// about variable
$about_col1: #019344;
$about_col2: #8be4b4;

$equipments_col1: #015393;
$equipments_col2: #4896d2;

$contact_col1: #D00101;
$contact_col2: #FF4C4C;