.content-lockup	{
    position: relative;
    // top: -240px;
}

.section {
	background-color: #fff;
	height: 500px;
	@include bx-shadow();
	position: relative;
    top: -60px;

    .heading {
    	text-transform: uppercase;
	    display: inline-block;
	    width: 100%;
	    margin: 75px 0;
	    padding: 0 100px;
	    font-weight: 600;
		letter-spacing: 10px;
		font-family: $font_avenir;
		position: relative;

	    &.center {
	    	text-align: center;

	    	&::after {
	    		content: "";
				background-color: $green;
				height: 0px;
				position: absolute;
				bottom: -25px;
				padding: 0 13px;
				height: 3px;
				margin-left: auto;
			    margin-right: auto;
			    left: 0;
			    right: 0;
			    width: 26px;
	    	}
	    }

		&.left {
			text-align: left;
	    }

		&.right {
			text-align: right;
	    }
    }

    h1.heading {
    	font-size: 20px;
    }
}

.section-lockup.container {
	position: relative;
}

.section-lockup .bg-accent {
	margin: 0 -50px;
	position: absolute;
	display: block;
    top: -280px;
}

.floating-content {

	height: 350px;
	.row {
	    margin: 0 -50px;
        width: 1150px!important;
        max-width: none;
	
		width: 100%;
		.large-6 {
			height: 350px;
		}
	}
}