.content-lockup	{
    position: relative;
    // top: -240px;
}

.section {
	background-color: #fff;
	height: 500px;
	@include bx-shadow();
	position: relative;
    top: -60px;

    .heading {
    	text-transform: uppercase;
	    display: inline-block;
	    width: 100%;
	    margin: 50px 0;
    }

    h1.heading {
    	font-size: 21px;
    }

    .heading.center {
	    	text-align: center;
	    }

	.heading.left {
		text-align: left;
    }

	.heading.right {
		text-align: right;
    }
}

.section-lockup.container {
	position: relative;
}

.section-lockup .bg-accent {
	margin: 0 -50px;
	position: absolute;
	display: block;
    top: -280px;
}