header {
	position: relative;
	width: 100%;
	height: 100vh;
	@include bg-image("./../assets/background.jpg");
	overflow: hidden;
}
	
.nav-lockup {
	text-align: center;	
	margin-top: 25px;
}

.nav {
	margin: 0;
    list-style: none;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center;
    flex-wrap: no-wrap;
    -moz-flex-wrap: no-wrap;
    -webkit-flex-wrap: no-wrap;
    flex-basis: auto;

    li {
    	display: inline-block;
		padding: 0 20px;
		width: 100%!important;

		.nav-line {
			position: relative;
			width: 100%;

			&::after {
				content: "";
				width: 100%;
				background-color: $green;
				height: 0px;
				position: absolute;
				bottom: -50px;
				left: 0px;
				padding: 0 20px;
			}

			&:hover::after {
				height: 3px;
			}
		}

    	a {
    		font-size: 16px;
    		color: #444;
    		text-transform: uppercase;
    		font-weight: 700;
    	}
    }
}

li.logo {
	min-width: 200px;
	padding: 0;
}

.logo {
	width: 200px;
}

	// .claim-lockup {
	// 	text-align: center;
	// 	padding: 70px;

	// 	.claim {
	// 		display: inline-block;
	// 		padding: 20px;
	// 		border: 8px #fff solid;
	// 		position: relative;

	// 		.headline {
	//     		font-size: 100px;
	//     		margin: 0;
	//     		text-transform: uppercase;
	// 			line-height: 0.8;
	// 		}
			
	// 		.kicker {
	// 			position: absolute;
	// 		}	
	// 	}
	// }

.claim {
    // width: 55%;
    width: 840px;
    margin: 75px auto;
    display: block;
}
